policy_module(bumblebee-extra, 1.0)

gen_require(`
    type bumblebee_t;
')

# Allow writing to /proc/acpi/bbswitch
kernel_write_proc_files(bumblebee_t)

# Prevent audit log from being polluted with harmless denials
dontaudit bumblebee_t self:capability dac_override;
